---
export type calendar = {
    year: number;
    month: number;
    day: number;
};
const { year, month, day } = Astro.props;
---

<div class="calendar">
    <div class="year-month">{year} {" "} {month}</div>
    <div class="day">{day}</div>
</div>

<style>
    .calendar {
        width: 100%;
        display: flex;
        flex-direction: column;
        & .year-month {
            border-bottom: 1px solid white;
            font-weight: bold;
        }
        & .day {
            font-size: var(--xxxl);
        }
    }
</style>
