---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <div class="header"></div>
        <div class="profile-wrapper"></div>
        <div class="content">
            <div class="project-wrapper"></div>
            <div class="blog-posts-wrapper"></div>
            <div class="random-facts-wrapper"></div>
        </div>
    </main>
</Layout>

<style>
    main {
        width: 400px;
        background-color: black;
        display: flex;
        flex-direction: column;
    }
</style>
